/* @import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz@6..72&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
body {
    /* font-family: 'Newsreader', Arial, sans-serif; */
    font-family: "League Spartan", Arial, sans-serif;
}

.container {
    margin-top: 20px;
}
.headerPage {
    background-color: #f6f8f7;
    height: 200px;
    padding: 30px;
    margin-bottom: 10px;
}
.headerPage h1 {
    font-family: "Montserrat", sans-serif;
    color: #3d5af1;
    text-transform: uppercase;
}
.title a {
    text-decoration: none;
    color: black;
}
.indexImg {
    width: max-content;
    margin-bottom: 0;
}
.btn,
a {
    text-decoration: none;
}
